/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area{
	color: #fff;
	overflow: hidden;
	position: relative;
	background: #f8f9fb;
	.contents{
		padding: 170px 0px 220px;
	    position: relative;
	    z-index: 99;
	    margin-right: -70px;
		h5{
			font-size: 50px;
		}
		.head-title{	
			color: #585b60;
		    font-size: 34px;
		    line-height: 48px;
		    font-weight: 700;
		    margin-bottom: 30px;
		}
	}
	.img-thumb {
	    position: absolute;
	    width: auto;
	    height: 90%;
	    right: -60px;
	    bottom: -40px;
	}
	.img-thumb img {
	    width: auto;
	    height: 100%;
	}
}

.sloder-img{
	background: #fff;
}