


/* Large Screen */
@media (min-width: 1980px) {
    #hero-area .img-thumb {
        right: 10%;
        bottom: -40px;
    }
}
@media (min-width: 1691px) {
    #hero-area {
        .contents {
            .head-title{
                font-size: 38px;
            }
        }
    }
}
@media (min-width: 1360px) {
    #hero-area {
        .contents{
            margin-right: -90px;
        }
        .img-thumb {
            height: 95%;
        }
    }
}

/* only small desktops */
@media(max-width: 1199px) {
    #hero-area {
        .contents {
            padding: 150px 0px 220px;
            margin-right: 0px;
            .head-title{
                font-size: 36px;
            }
        }
        .img-thumb {
            height: 78%;
            right: -50px;
            bottom: -10px;
        }
    }
     #hero-area .contents 
    .services-item .services-content h3 a{
        font-size: 14px;
    }
    .title-hl{
        font-size: 30px;
    }
    .why .content h3{
        font-size: 30px;
    }
}
/* tablets */
@media (max-width: 991px) {
    .section-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    #hero-area {
        .contents {
            padding: 120px 0px 90px;
            .head-title{
                font-size: 30px;
            }
        }
        .img-thumb {
            height: 70%;
            right: -40px;
            bottom: -10px;
        }
    }
    .services-item .services-content h3 a{
        font-size: 14px;
    }
    .services-item{
        margin-bottom: 20px;
    }
    #pricing-table .title h3{
        font-size: 14px;
    }
}

/* only small tablets */
@media (min-width: 767.99px) and (max-width: 991px) {
    .section-title {
        font-size: 26px;
        margin-bottom: 30px;
    }
   .services-item .services-content h3 a{
        font-size: 16px;
   }
   #about .sec-title h3{
    font-size: 30px;
    line-height: 42px;
   }
   .title-hl{
    font-size: 30px;
   }
   .text-wrapper{
    padding: 60px 30px;
   }
   .why .content h3{
    font-size: 30px;
   }
    #pricing-table .title h3{
        font-size: 14px;
    }
    .testimonial-item{
        padding: 10px;
    }
    .testimonial-item .content h2{
        font-size: 15px;
    }
    .slider-center img{
        padding: 40px 60px;
    }
    .subscribes h4{
        font-size: 30px;
    }
    .footer-area .footer-titel{
        margin-top: 30px;
    }
    .contact-right-area{
        margin-top: 30px;
    }
}

/* mobile or only mobile */
@media (max-width: 767px) {
    .section-padding{
        padding: 50px 0;
    }
    .section-title {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .title-hl{
        font-size: 22px;
    }
    .navbar-brand img{
        margin: 5px 0;
    }
    #hero-area{
        .contents{
            padding: 110px 0px 165px 0px;
            .head-title{
                font-size: 20px;
                line-height: 36px;
                margin-bottom: 15px;
            }
            p{
                font-size: 18px;
            }
            .btn{
                margin: 5px 10px 10px 0px;
            }
        }
        .img-thumb {
            height: 65%;
            right: -40px;
            bottom: -15px;
        }
    } 
    .text-wrapper{
        padding: 60px 15px;
    }
    #about .sec-title h3{
        font-size: 22px;
        line-height: 36px;
    }
    .why .content h3{
        font-size: 18px;
    }
    .testimonial-item{
        padding: 0;
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
        display: none;
    }
    .client-item-wrapper img{
        width: 70%;
    }
    .slick-slider{
        padding: 0;
    }
    .slider-center img{
        padding: 60px 40px;
    }
    .subscribes h4{
        font-size: 22px;
    }
    .subscribes p{
        font-size: 16px;
        line-height: 28px;
    }
    .footer-right-contact .single-contact{
        margin: 10px 7px;
        padding: 3px 45px;
    }
    .footer-area .footer-titel{
        margin-top: 30px;
    }
    .contact-right-area{
        margin: 20px 0;
    }
    .contact-form-area h2{
        font-size: 14px;
    }
}
@media (max-width: 575.99px){
    #hero-area {
        .contents {
            padding: 110px 0px 200px 0px;
        }
        .img-thumb {
            height: auto;
            right: -30px;
            bottom: -5px;
            width: 85%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .client-item-wrapper img{
        max-height: auto;
    }
}
@media (max-width: 380px){
    #hero-area {
        .contents {
            padding: 110px 0px 200px 0px;
        }
        .img-thumb {
            height: auto;
            right: -25px;
            bottom: 0;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}